.product-page {
	display: grid;
	gap: 5vw;
	grid-template-columns: repeat(2, 45%);
	padding: 5vw;
	padding-bottom: 0;
}
.next-picture-button,
.prev-picture-button {
	display: none;
}

@media (min-width: 320px) and (max-width: 600px) {
	.product-page {
		display: grid;
		gap: 5vw;
		grid-template-columns: auto;
		padding: 0;
		padding-bottom: 0;
	}

	.next-picture-button {
		top: 35%;
		right: 2%;
		z-index: 0;
	}

	.prev-picture-button {
		top: 35%;
		left: 2%;
		z-index: 0;
	}

	.next-picture-button,
	.prev-picture-button {
		cursor: pointer;
		position: absolute;
		display: grid;
		background: white;
		border: none;
		height: 7vh;
		width: 7vh;
		border-radius: 50%;
		margin-bottom: 18vh;
		place-content: center;
		&:hover {
			path {
				stroke: orange;
			}
		}
	}
}
